<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name=""viewport" content = "width=device-width, initial-scale=1.0">
    <title> Bucket_Manager_DB_Security_S23 </title>
</head>
<body>
<h1> Dashboard after loggin in. Welcome!</h1> 
<h2>To edit change dashboard.ejs</h2>

<a href="/logout">Sign Out</a>
<h1>Hello <%= user.name %></h1>
<img src = "<%= user.picture %>" a;t="">
</body>


</html>