<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name=""viewport" content = "width=device-width, initial-scale=1.0">
    <title> Bucket_Manager_DB_Security_S23 </title>
</head>
<body>
<h1>Protected route</h1>
</body>


</html>